/* src/page/footer.css */
.footer {
  display: flex;
  flex-direction: column; /* Mengatur arah flex menjadi kolom */
  align-items: center; /* Pusatkan item secara horizontal */
  background-color: #f8bbd0; /* Warna latar belakang footer */
  padding: 10px 0;
  border-top: 1px solid #ccc; /* Garis atas footer */
}

.footer-logos {
  display: flex; /* Mengatur logo dalam baris */
  justify-content: center; /* Pusatkan logo */
  margin-bottom: 10px; /* Jarak antara logo dan tautan */
}

.footer-item {
  text-align: center; /* Pusatkan teks di bawah logo */
  margin: 0 20px; /* Jarak antar item */
}

.footer-logo {
  width: 50px; /* Ukuran logo */
  height: auto; /* Menjaga proporsi gambar */
  cursor: pointer; /* Menunjukkan bahwa logo dapat diklik */
}

.footer-item p {
  margin-top: 5px; /* Jarak antara logo dan teks */
  color: #d5006d; /* Warna teks */
}